<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Request Password Reset</h1>
    <% if(user) { %>
        <form action="user/changepassword/" method="post">
        <label for="otp">OTP:</label>
        <input type="otp" name="otp" id="otp" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <button type="submit">Submit</button>
        </form>
       <% } else if { %>

        <form action="company/changepassword/" method="post">
            <label for="otp">OTP:</label>
            <input type="otp" name="otp" id="otp" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">Submit</button>
        </form>
       <% }else { %>
        <input type="password" name="password" id="password" value="" placeholder="New Password" />
        <input type="password" name="confirmpassword" id="confirmpassword" value="" placeholder="Confirm Password" />
        <% } %>
</body>

</html>