
<p> <%= content[0].id_resume %> </p>
<div class="btn btn-pink">
  
  <a class="text-my-own-color" > <%= content[0].id_resume %></a>
  
  
</div>

<p>
   If you are not an applicant, please let us know immediately by replying to this email.
</p>
