body{
  font-family: 'Kanit', sans-serif;
  background-color: #F1F1F1;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sectionforlogin{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  background: url('/image/wallpaper_login.jpg')no-repeat;
  background-position: center;
  background-size: cover;
}





.form-box{
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items:center;

}
h2{
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}








.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
  top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: #fff;
}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}
.forget{
  margin: -15px 0 15px ;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;  
}

.forget label input{
  margin-right: 3px;
  
}
.forget label a{
  color: #fff;
  text-decoration: none;
}
.forget label a:hover{
  text-decoration: underline;
}
button{
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 20px;
}

.btnnav {
  padding: 0px 15px;
  height: 30px;
  width: auto;
  color: red;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 6px; 
  outline: 2px solid red;
}
.custom-style {
  color: #E1282E; 
  background-color: #FFF2F2;
  
}
.background{
  background: rgb(255, 138, 0);
  background: linear-gradient(180deg, rgba(255, 138, 0, 1) 3%, rgba(237, 42, 48, 1) 45%, rgba(135, 24, 27, 1) 100%);
}
.background-footer{
  background: rgb(255,222,89);
background: linear-gradient(180deg, rgba(255,222,89,1) 0%, rgba(243,158,74,1) 37%, rgba(222,39,45,0.499124649859944) 100%);
}

.card-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: transparent;
}

.card-item {
    background-color: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
      margin: 10px;
      flex: 1;
      gap: 1rem;
      max-width: 300px;
      height: 80%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
}

    .container.index-card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 1.5rem;
    }

    .index-card-item {
      flex: 1 1 calc(25% - 20px); 
      margin-bottom: 20px;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: start;
    }

    .index-card-item:hover {
      background-color: #cecece;
    }

    .index-card-item img {
      width: 200px;
      height: 200px;
      max-width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .index-card-item p {
      margin-top: 10px;
    }

    .index-fixed-button {
      text-decoration: none;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
    }

.open-job {
  color: #006610; 
  background-color: #E7FFDB;
}

.btnnav:hover {
  background-color: #d12528; /* สีเมื่อ hover */
  color: white;
}

.btnnav-bold {
  padding: 0px 15px;
  height: 30px;
  width: auto;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 6px; 
  background-color: #ED2A30;
  outline: 2px solid #ED2A30;
}

.btnnav-bold:hover {
  background-color: #970003;
  outline: 2px solid #970003;
  color: white;
}


.btnnav a{
  color: red;
}

.btnnav:hover a{
  color: white;
}

.btnnav-bold  a{
  color: rgb(255, 255, 255);
}

.btnnav-bold :hover a{
  color: white;
}

.register{
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;
}

input.form-control:focus {
  border-color: #ED2A30;
  box-shadow: 0 0 5px rgba(237, 42, 48, 0.5); 
  outline: none; 
}

input.form-control::placeholder {
  color: #817E7E;
}

.sectionregister{
  align-items: center;
  /* background: url('/image/wallpaper_login.jpg')no-repeat; */
  background-color: black;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}


/* nav */

.form-spacing {
  margin-bottom: 15px;
}

/* Add this to your CSS file */
.card .a-edit {
  position: absolute;
  top: 10px;
  right: 10px;
}


.card .btn-rounded {
  border-radius: 50px;
}






aside{
  position:running(aside);
  padding:1.5cm;
  text-align:left;
}

/*
The image of Joe McFadden is placed in a circle with an black border. 
To do so we set a fixed size, the image as background image, position the image
and apply the border and border radius.

Additionally we want the image to be partly in the header section so we move it 
up by half of the circle's height with the help of position absolute.
*/
aside span.img{
  width:3cm;
  height:3cm;
  background-image:url("https://images.unsplash.com/photo-1583195764036-6dc248ac07d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2376&q=80");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  border:1.5mm solid var(--text-color);
  border-radius:100%;
  display:block;
  position:absolute;
  top:-1.5cm;
}

/*
The sections in the aside element are separated by hr elements. We use a margin
of 2cm on the top, 0 left and right and half a centimeter on the bottom. 

The height of the hr element gets set to 0, we use a border instead with the same
color as the text.
*/
aside hr{
  margin:2cm 0 .5cm 0;
  border:0;
  border-top:.5mm solid var(--text-color);
  height:0;
}
.container-box{

  margin: 0;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100%; /* Take full height of the viewport */
}

.profile{
  padding: 20px;
  border: 1px solid #ccc;
flex-shrink: 0;
background-color: rgb(130, 128, 128);
}

.label-profile{
  width: 117px;
  padding-top: 7px;
height: 35px;
flex-shrink: 0;
background: #ED2A30;
text-align-last: center;
}



.label-profile2{
  width: 117px;
  padding-top: 7px;
height: 35px;
flex-shrink: 0;
background: #49ebd8;
text-align-last: center;
}
.label-profile3 {
  width: 117px;
  padding-top: 7px;
  height: 35px;
  flex-shrink: 0;
  background: #49ebd8;
  text-align-last: center;
}

.fixed-button1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.label-profile4{
  width: 117px;
  padding-top: 7px;
height: 35px;
flex-shrink: 0;
background: #f6d365;
text-align-last: center;
}
.label-profile5{
  width: 117px;
  padding-top: 7px;
height: 35px;
flex-shrink: 0;
background: #f6d365;
text-align-last: center;
}
.button-unban {

  text-align: center;
  margin-top: -38px;
  padding-left: -15px;
  margin-left: -50px;

}

.btn-rounded {
  border-radius: 20px;
  /* Adjust the value to control the roundness of the button */
}

.a-edit {
  margin-left: -15px;
}


.button-ban {
  padding-right: -10px;
  margin-top: -38px;

  text-align: right;

}

.label-profile7 {
  width: 117px;
  padding-top: 7px;
  height: 35px;
  flex-shrink: 0;
  background: #49ebd8;
  text-align-last: center;
}

.equal-height-cards {
  display: flex;
  flex-wrap: wrap;
}


.equal-height-cards .col-md-3 {
  display: flex;
  flex-direction: column;
}

.equal-height-cards .card {
  flex: 1;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.colorless-input {
  background-color: transparent;
  border: none;
}

.border-custom {
  margin-top: 9px;
  margin-bottom: 9px;
  text-align-last: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 2px solid rgb(0, 0, 0);
  /* Change the border style and color as needed */
  border-radius: 5px;
  /* Optional: Add rounded corners */
}

.label-profile9 {
  width: 117px;
  padding-top: 7px;
  height: 35px;
  flex-shrink: 0;
  background: #f6d365;
  text-align-last: center;
}

.input-mid {
  padding-left: 35px;
  margin-bottom: 10px;
}

.form-control-input {

  padding: 10px;
  /* Add some padding */
  margin: 5px 0;
  /* Add margin at the top and bottom */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
  border: 1px solid #981818;
  /* Add a border */
  border-radius: 4px;
  /* Add rounded corners */
}

/* Style for when the input is focused */
.form-control-input {
  border-color: #007BFF;
  /* Change border color when focused */
}
.card-img-top {
width: 100px;
height: 100px;
object-fit: contain;
display: block;
margin: 0 auto;
}
.first-name{
  margin-top:30px;
  }
  .pic{
    margin-right:100px;

  }
.limited-text {
    width: 350px; /* กำหนดความกว้างของ <td> */
   
    overflow: hidden; /* ซ่อนข้อความที่เกินขอบของ <td> */
    text-overflow: ellipsis; /* แสดงเครื่องหมาย ... เมื่อข้อความเกินขอบ */
  }
  .limited-skill {
    width: 250px; /* กำหนดความกว้างของ <td> */
   
    overflow: hidden; /* ซ่อนข้อความที่เกินขอบของ <td> */
    text-overflow: ellipsis; /* แสดงเครื่องหมาย ... เมื่อข้อความเกินขอบ */
  }
  .label-profile11{
    width: 117px;
    padding-top: 7px;
  height: 35px;
  flex-shrink: 0;     
  background: #49ebd8;
  text-align-last: center;
  }
  .label-profile12 {
    width: 117px;
    padding-top: 7px;
    height: 35px;
    flex-shrink: 0;
    background: #f6d365;
    text-align-last: center;
  }

  .gradient-custom11 {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }
  .label-profile34 {
    width: 117px;
    padding-top: 7px;
    height: 35px;
    flex-shrink: 0;
    background: #f6d365;
    text-align-last: center;
  }

  .gradient-custom22{
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }



  .slanted-image {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  }
  
